<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script>
        function loadPro() {
            $.ajax({
                url: '/06-getPro',
                type: 'get',
                dataType: "json",
                async:false,
                success: function (pros) {

                    var html = ""
                    for (var i = 0; i < pros.length; i++) {
                        var pro = pros[i]
                        html += "<option value='" + pro.id + "'>"
                        html += pro.pname
                        html += "</option>"
                    }
                    $("#selPro").html(html)


                }
            })
//            //创建xhr
//            var xhr = createXhr()
//            //创建请求
//            xhr.open('get','/06-getPro',false);
//            //设置回调函数
//            xhr.onreadystatechange=function () {
//                if(xhr.status==200&&xhr.readyState==4){
//                    var pros=JSON.parse(xhr.responseText)
//                    var html=""
//                    for(var i=0;i<pros.length;i++){
//                        var pro=pros[i]
//                        html+="<option value='"+pro.id+"'>"
//                        html+=pro.pname
//                        html+="</option>"
//                    }
//                    $("#selPro").html(html)
//                }
//            }
//            //发送请求
//            xhr.send(null)
//            return $("#selPro").val()
//
}

        function loadCity(val) {
 console.log(val)
           $.ajax({
            type:"post",
               data:"pid=" + val,
            url:'/06-getCity',
            dataType:"json",
               contentType:"application/x-www-form-urlencoded",
            success:function (citys) {

                    var html = ""
                    for (var i = 0; i < citys.length; i++) {
                        var city = citys[i]
                        html += "<option value='" + city.id + "'>"
                        html += city.cname
                        html += "</option>"
                    }
                    $("#selCity").html(html)


            }
        })
//            hrx = createXhr()
//            hrx.open("post", '/06-getCity',true)
//
//            hrx.onreadystatechange = function () {
//                if (hrx.status == 200 && hrx.readyState == 4) {
//                    var citys = JSON.parse(hrx.responseText)
//                    var html = ""
//                    for (var i = 0; i < citys.length; i++) {
//                        var city = citys[i]
//                        html += "<option value='" + city.id + "'>"
//                        html += city.cname
//                        html += "</option>"
//                    }
//                    $("#selCity").html(html)
//                }
//
//            }
//            hrx.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
//            hrx.send("pid=" + val)
        }
            $(function () {
                loadPro()
                console.log($("#selPro").val())
                loadCity($("#selPro").val())
                $("#selPro").change(function () { loadCity($(this).val())})
            })

    </script>
</head>
<body>
    <select id="selPro"></select>
    <select id="selCity"></select>
</body>
</html>