<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>get</title>
</head>
<body>
<form action="/02-server" method="get">
    <p>
        姓名：<input type="text" name="uname">
    </p>

    <p>
        密码：<input type="password" name="upwd">
    </p>
    <p>
        性别：
        <input type="radio" name="gender" value="0">男
        <input type="radio" name="gender" value="1">女
    </p>
    <p>
        爱好：
        <input type="checkbox" name="hobby" value="1">吃
        <input type="checkbox" name="hobby" value="2">喝
        <input type="checkbox" name="hobby" value="3">玩
        <input type="checkbox" name="hobby" value="4">乐
    </p>
    <p>
        <input type="submit" value="提交">
    </p>
</form>
</body>
</html>