<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>get-exer</title>
</head>
<body>

<form action="/03-server" method="get">
    <div>
        <p>标题：<input type="text" name="title"></p>
         <p>
             类别：
             <select name="class">

                 <option value="1">python高级</option>
                 <option value="2">python基础</option>
                 <option value="3">数据库基础</option>
                 <option value="4">Web开发</option>
             </select>
         </p>
         <p>
             <textarea name="content"></textarea>
         </p>
         <p>
             <input type="submit" value="提交">
         </p>
    </div>

</form>

</body>
</html>