<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <form action="/queryall">
        <input type="text" name="search" id="sea" value="{{sea}}" > <input type="submit" value="查询">
    </form>
    <table border="1" width="400" cellspacing="0">
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>邮箱</td>
            <td>
                操作
            </td>
             </tr>
            {%for user in users %}
            <tr>
                <td>{{user.username}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td>
                <a href="/delete?id={{user.id}}&search={{sea}}">删除</a>
                <a href="/modify?id={{user.id}}&search={{sea}}">修改</a>
            </td>
    </tr>
            {%endfor%}

    </table>
    <p>
        <a href="/queryall?page=1&search={{sea}}">首页</a>
        <a href="/queryall?page={{prevPage}}&search={{sea}}">上一页</a>
        <a href="javascript:void(0)">第{{page}}页</a>
        <a href="/queryall?page={{nextPage}}&search={{sea}}">下一页</a>
        <a href="/queryall?page={{lastPage}}&search={{sea}}">尾页</a>
        <a href="javascript:void(0)">总共有{{totalPageSize}}记录</a>
    </p>
<script>
        var res=document.getElementById('sea')
        console.log(res)
        res.onfocus=function () {
            this.value=''
        }
    </script>
</body>
</html>